/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* css reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, dialog, figure, footer, header, hgroup, menu,
nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

html {
    font-size: 62.5%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 1.6rem; /* =14px */
    background: #fff;
    color: #757575;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    line-height: 2.2rem;
}

h1 {
    font-size: 4.6rem; /* =24px */
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    line-height: 4.8rem;
    color: #3a3a44;
}

@media all and (max-width: 46.24em) {
    h1 {
	font-size: 3.2rem;
	line-height: 3.4rem;
    }
}

p h2 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 2.8rem;
    padding-bottom: 1em;
}

@media all and (max-width: 46.24em) {
    h2 {
	font-size: 2.0rem;
    }
}

ul li {
    list-style: none;
    display: inline;
    margin: 0 0.4em;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

a:visited {
    color: #fff;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
a:active {
    color: #fff;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0
}

input, select {
    vertical-align: middle
}

* {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif !important; */
    text-align: center;
    vertical-align: middle;
}

/* Header */

header {
    width: 100%;
    margin: 0 auto;
    padding: 1.0%;
    text-align: center;
    vertical-align: middle;
    clear: both;
    position: fixed;
    z-index: 100;
}

.nav_primary_bg {
    background: rgba(53, 53, 63, .7)
}

.nav_primary ul {
    display: block;
    width: 100%;
    max-width: 75%;
    float: right;
    width: auto;
    vertical-align: middle;
    margin-top: .5rem;
}

.nav_primary li {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-right: 1.8rem;
    vertical-align: middle;
    color: white;
}

#logo {
    overflow: hidden;
    display: block;
    float: left;
    width: 200px;
    height: 40px;
    background-repeat: no-repeat;
    /* http://imulus.github.io/retinajs/ */
    /* .at2x('logo', svg, 130px, 32px); */
    background-image: url('logo.svg');
}

@media all and (max-width: 46.24em) {
    .nav_primary {
	display: none;
    }
}

/* Hero */

.bg {
    overflow: auto;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background: #35353f url("hero.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    clear: both;
    text-align: center;
    vertical-align: middle;
}

h1 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

#frontButton {
    border: none;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.3em;
       -moz-border-radius: 0.3em;
     -khtml-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    text-indent: 0.1em;
    color: white;
    outline: 0;
    padding: 0.3em 0.5em;
    width: 220px;
    height: 44px;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 3.6rem;
    margin-left: .5rem;
}

#frontButton:hover {
    background: rgba(255, 255, 255, 0.5);
}
#frontButton:focus {
    background: rgba(255, 255, 255, 0.7);
}

input::-webkit-input-placeholder {
    color: white;
}
input::-moz-placeholder {
    color: white;
}
input:-moz-placeholder {   /* Older versions of Firefox */
    color: white;
}
input:-ms-input-placeholder {
    color: white;
}

/* //demosthenes.info/blog/777/Create-Fullscreen-HTML5-Page-Background-Video */
video { display: block; }
video#bgv {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(hero.jpg) no-repeat;
    background-position: bottom center;
    background-size: cover;
}

#sections {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
}
@media screen and (max-width: 568px) {
    #sections {
        margin-top: 20%;
    }
}

.main_nav { display:block; }
.logo_img { width:15%; height:15%; }